<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row d-flex justify-content-between my-4">
        <h1 class="flex-grow-1"><%= link_to "Logo.", flats_path %></h1>
        <div class="search-bar mr-3">
          <form>
            <input class="input" type="text" name="search" value="<%= params[:search] %>" placeholder="search something">
            <input type="submit" class="btn btn-primary">
          </form>
        </div>
        <h2><%= link_to "Add Flat", new_flat_path %></h2>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
